<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
        <property name="Constants.LOGICAL_DELETE_OFF" value="false"/>
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/>
    </properties>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.hexindai.s3harding.mybatis.ShardingInterceptor">
            <property name="shardingClass" value="com.github.hexindai.s3harding.core.MurmurHashSharding"/>
            <property name="tableNamePrefix" value="New_V_FundIO_"/>
            <property name="shardingCount" value="512"/>
            <property name="seed" value="1234ABCD"/>
            <property name="numOfNodesPerTable" value="10"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="org.testcontainers.jdbc.ContainerDatabaseDriver" />
                <property name="url" value="jdbc:tc:mysql:5.7.22:///test" />
                <property name="username" value="test" />
                <property name="password" value="test" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.github.hexindai.s3harding.mybatis.SelectMapper" />
        <mapper class="com.github.hexindai.s3harding.mybatis.InsertMapper" />
    </mappers>

</configuration>
